.carousel-control-prev, .carousel-control-next {
  width: auto !important; /* Adjust the width as needed */
}

// import functions and variables to access colors and add new
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";


$custome-theme-colors: (
    "primary": #07B9EC,
    "secondary": #FB1558,
    "altPrimary": #07B9ECAA,
    "tertiary": #70119A,
);

$custom-font-sizes: (
  7: $font-size-base * 0.85,
  8: $font-size-base * 0.75,
  9: $font-size-base * 0.65,
  10: $font-size-base * 0.5
);

$theme-colors: map-merge($theme-colors, $custome-theme-colors);

$font-sizes: map-merge($font-sizes, $custom-font-sizes);


@import '../../node_modules/bootstrap/scss/bootstrap';